<%= form_with(model: hour, local: true) do |form| %>
  <% if hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
      <% hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :arena_id %>
    <%= form.text_field :arena_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
