<%= form_with(model: hour, local: true) do |form| %>
  <div class="input-field col s12">
    <i class="material-icons prefix">golf_course</i>
    <select name="hour[arena_id]" id="hour_arena_id">
      <option value="" disabled selected>Choose arena</option>
      <% @arenas.each do |arena| %>
        <option value="<%= arena.id %>"><%= arena.name %></option>
      <% end %>
    </select>
    <label>Arena</label>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">date_range</i>
    <%= form.label :date %>
    <%= form.text_field :date, :class => (hour.errors[:date].count != 0 ? "validate invalid" : "") %>
    <% hour.errors[:date].each do |message| %>
      <span class="helper-text" data-error="Date <%= message %>"></span>
    <% end %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">hourglass_empty</i>
    <%= form.text_field :time, :class => (hour.errors[:time].count != 0 ? "validate invalid" : "")  %>
    <%= form.label :time %>
    <% hour.errors[:time].each do |message| %>
      <span class="helper-text" data-error="Time <%= message %>"></span>
    <% end %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">attach_money</i>
    <%= form.text_field :cost, :class => (hour.errors[:cost].count != 0 ? "validate invalid" : "")  %>
    <%= form.label :cost %>
    <% hour.errors[:cost].each do |message| %>
      <span class="helper-text" data-error="Cost <%= message %>"></span>
    <% end %>
  </div>

  <%= form.submit 'Submit', class: "btn-flat teal lighten-5" %>
<% end %>
