<div id="calendar-arena-<%= arena.id %>"></div>
<script>
    $("#calendar-arena-<%= arena.id %>").fullCalendar({
        locale: 'en',
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        events: [
            <% arena.current_hours.each do |hour| %>
                <% if hour.available? %>
                    {
                        id: '<%= hour.id %>',
                        title: '<%= hour.period! %>',
                        start: '<%= hour.date %>'
                    },
                <% end %>
            <% end %>
        ],
        eventClick: function(calEvent, jsEvent, view) {
            $('#schedule_hour_id').val(calEvent.id);
            $('#schedule_form').submit();
        }
    });
</script>