<%= form_with(model: user, local: true) do |form| %>
  <div class="input-field col s12">
    <i class="material-icons prefix">person</i>
    <%= form.label :name %>
    <%= form.text_field :name, :class => (user.errors[:name].count != 0 ? "validate invalid" : "") %>
    <% user.errors[:name].each do |message| %>
      <span class="helper-text" data-error="Name <%= message %>"></span>
    <% end %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">map</i>
    <%= form.text_field :address, :class => (user.errors[:address].count != 0 ? "validate invalid" : "")  %>
    <%= form.label :address %>
    <% user.errors[:address].each do |message| %>
      <span class="helper-text" data-error="Address <%= message %>"></span>
    <% end %>
  </div>

  <%= form.submit 'Submit', class: "btn-flat teal lighten-5" %>
<% end %>
