<%= form_with(model: arena, local: true) do |form| %>
  <% if arena.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% arena.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">person</i>
    <%= form.text_field :number %>
    <%= form.label :number %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">person</i>
    <%= form.text_field :street %>
    <%= form.label :street %>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">person</i>
    <%= form.text_field :neighborhood %>
    <%= form.label :neighborhood %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
