<h1 class="header">Arenas</h1>

<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arenas.each do |arena| %>
      <tr>
        <td><%= arena.name %></td>
        <td><%= arena.address %></td>
        <td><%= link_to 'Edit', edit_arena_path(arena), :class => "btn-flat blue lighten-5" %></td>
        <td><%= link_to 'Destroy', arena, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-flat deep-orange accent-1" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arena', new_arena_path, class: "btn-flat teal lighten-5" %>
