<h1 class="header">Schedules</h1>

<table class="highlight">
  <thead>
    <tr>
      <th>User</th>
      <th>Arena</th>
      <th>Date</th>
      <th>Hour</th>
      <th>Status<th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.user.name %></td>
        <td><%= schedule.hour.arena.name %></td>
        <td><%= schedule.hour.time.strftime('%d-%m-%Y') %></td>
        <td><%= schedule.hour.time.hour %>:00h as <%= schedule.hour.time.hour+1 %>:00h</td>
        <td><%= schedule.payment_status! %></td>
        <% if !schedule.payment_status? %>
          <td><%= link_to 'Pay', schedule %></td>
        <% end %>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
