<h1 class="header">Schedules</h1>
<% if !current_user.admin %>
  <%= link_to 'New Schedule', new_schedule_path, class: "btn-flat teal lighten-5" %>
<% end %>

<table class="highlight">
  <thead>
    <tr>
      <% if current_user.admin %>
        <th>User</th>
      <% end %>
      <th>Arena</th>
      <th>Date</th>
      <th>Hour</th>
      <th>Status<th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <% if current_user.admin %>
          <td><%= schedule.user.name %></td>
        <% end %>
        <td><%= schedule.hour.arena.name %></td>
        <td><%= schedule.hour.date! %></td>
        <td><%= schedule.hour.period! %></td>
        <td><%= schedule.status! %></td>
        <% if !schedule.payment_status? && current_user.admin %>
          <td>
            <%= form_with(model: schedule.payments.new, local: true) do |form| %>
              <%= form.hidden_field :schedule_id, value: schedule.id %>
              <%= form.hidden_field :form, value: "Credit Card"  %>
              <%= form.hidden_field :value, value: schedule.hour.cost  %>
              <%= form.submit "Confirm payment", class: "btn-flat deep-orange accent-1" %>
            <% end %>
          </td>
        <% elsif schedule.status? %>
          <td><%= link_to 'Confirmation', schedule, class: "btn-flat green accent-1" %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
