<h1 class="header">Schedules</h1>

<table class="highlight">
  <thead>
    <tr>
      <% if current_user.admin %>
        <th>User</th>
      <% end %>
      <th>Arena</th>
      <th>Date</th>
      <th>Hour</th>
      <th>Status<th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <% if current_user.admin %>
          <td><%= schedule.user.name %></td>
        <% end %>
        <td><%= schedule.hour.arena.name %></td>
        <td><%= schedule.hour.date! %></td>
        <td><%= schedule.hour.period! %></td>
        <td><%= schedule.status! %></td>
        <% if !schedule.payment_status? %>
          <td><%= link_to 'Pay', schedule %></td>
        <% end %>
        <td><%= link_to 'Show', schedule %></td>
        <% if current_user.admin %>          
          <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
          <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
