<h1 class="header">New Schedule</h1>

<% @hours.each do |hour| %>
  <tr>
    <td><%= hour.arena.name %></td>        
    <td>R$ <%= hour.cost %></td>
    <td><%= hour.date! %></td>
    <td><%= hour.period! %></td>        
    <td><%= link_to 'Show', hour %></td>
    <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
    <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Back', schedules_path %>
