<header>
    <div class="top-nav">
        <div class="nav-wrapper">
            <h3 class="header">New Schedule</h3>                                      
        </div>
    </div>    
</header>

<% if @arenas.empty? %>
    <p class="header">No registered arena.</p>
    <%= link_to 'New Arena', new_arena_path, class: "btn-flat teal lighten-5" %>
<% else %>
    <p class="header">Select the desired arena and choose an available time.</p>
<% end %>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <% @arenas.each do |arena| %>    
                <li class="tab"><a href="#arena_<%= arena.id %>"><%= arena.name %></a></li>    
            <% end %>
        </ul>
    </div>
    <% @arenas.each do |arena| %>
        <p></p>
        <div id="arena_<%= arena.id %>" class="col s12">    
            <p class="header right"><%= @date.strftime('%B of %Y') %></p>
            <%= render partial: 'arena', locals: { arena: arena } %>
            <p class="header"><%= arena.name %></p>
        </div
    <% end %>
</div>

 

<%= render 'form', schedule: @schedule %>