<h1 class="header">Schedule confirmation</h1>
<p>
  ---------------------------------------------------------------
  <br>
  Arena: <%= @schedule.hour.arena.name %>
  <br>
  Address: <%= @schedule.hour.arena.address %>
  <br>
  ---------------------------------------------------------------
  <br>
  Date: <%= @schedule.hour.date! %>
  <br>
  Hour: <%= @schedule.hour.period! %>
  <br>
  --------------------------------------------------------------
  <br>
  User: <%= @schedule.user.name %>
  <br>
  Address: <%= @schedule.user.address %>
  <br>
  Document: <%= @schedule.user.cpf %>
  <br>
  --------------------------------------------------------------
</p>

