<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <div class="col s12 m10 offset-m1">
              <div class="center-align">
                <%= image_tag("logo.jpg", size: "350x200") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <% if devise_error_messages? || alert %>
      <% if devise_error_messages? %>
        <script  type="text/javascript">M.toast({html: "Errors"})</script>
      <% else %>
        <script  type="text/javascript">M.toast({html: "<%= alert %>"})</script>
      <% end %>
    <% end %>
  </body>
</html>
