<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"><a href="" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a></div>
    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <li class="logo">
          <%= image_tag("logo.jpg") %>
        </li>
        <li class="bold">
          <%= link_to('Schedules', root_path) %>
        </li>             
        <% if current_user.admin %>
          <li class="bold">
            <%= link_to('Hours', hours_path) %>
          </li>
          <li class="bold">
            <%= link_to('Arenas', arenas_path) %>
          </li>
          <li class="bold">
            <%= link_to('Users', users_path) %>
          </li>
        <% end %>
        <li class="bold">
          <%= link_to "Update your information", edit_user_registration_path %>
        </li>
        <li class="bold">
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
    </ul>

    <div class="row">
      <div class="col s12 l7 offset-l4 xl8 offset-xl3">
        <%= yield %>
      </div>
    </div>

    <script>
      <% if notice %>
        M.toast({html: "<%= notice %>"});
      <% end %>

      <% if @arenas %>
        <% @arenas.each do |arena| %>
          $("#calendar-arena-<%= arena.id %>").fullCalendar({
              locale: 'en',
              defaultDate: '<%= @date %>',
              schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
              events: [
                  <% arena.current_hours.each do |hour| %>
                      <% if hour.available? %>
                          {
                              id: '<%= hour.id %>',
                              title: '<%= hour.period! %>',
                              start: '<%= hour.date %>'
                          },
                      <% end %>
                  <% end %>
              ],
              eventClick: function(calEvent, jsEvent, view) {
                  $('#schedule_hour_id').val(calEvent.id);
                  $('#schedule_form').submit();
              }
          });        
        <% end %>
      <% end %>
      $('.fc-left').hide();
    </script>
  </body>
</html>
