<div class="row login-form">
  <div class="col s12 m10 offset-m1 l6 offset-l3">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">
          Edit
          <%= resource_name.to_s.humanize %>
        </span>
        <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">person</i>
              <%= f.text_field :name, autofocus: true, class: (resource.errors[:name].count != 0 ? "validate invalid" : "") %>
              <%= f.label :name %>
              <% resource.errors[:name].each do |message| %>
                <span class="helper-text" data-error="Name <%= message %>"></span>
              <% end %>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <%= f.email_field :email, class: (resource.errors[:name].count != 0 ? "validate invalid" : "validate") %>
              <%= f.label :email %>
              <span class="helper-text" data-error="wrong" data-success="right"></span>
              <% resource.errors[:email].each do |message| %>
                <span class="helper-text" data-error="Email <%= message %>"></span>
              <% end %>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">credit_card</i>
              <%= f.text_field :cpf, class: (resource.errors[:cpf].count != 0 ? "validate invalid" : "") %>
              <%= f.label :cpf %>
              <% resource.errors[:cpf].each do |message| %>
                <span class="helper-text" data-error="CPF <%= message %>"></span>
              <% end %>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">map</i>
              <%= f.text_field :address, class: (resource.errors[:address].count != 0 ? "validate invalid" : "") %>
              <%= f.label :address %>
              <% resource.errors[:address].each do |message| %>
                <span class="helper-text" data-error="Address <%= message %>"></span>
              <% end %>
            </div>                 
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <%= f.password_field :password, autocomplete: "off", class: (resource.errors[:password].count != 0 ? "validate invalid" : "") %>
              <%= f.label :password %>
              <span class="helper-text">
                Leave blank if you don't want to change it
              </span>
              <% resource.errors[:password].each do |message| %>
                <span class="helper-text" data-error="Password <%= message %>"></span>
              <% end %>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: (resource.errors[:password_confirmation].count != 0 ? "validate invalid" : "") %>
              <%= f.label :password_confirmation %>
              <% resource.errors[:password_confirmation].each do |message| %>
                <span class="helper-text" data-error="Password confirmation <%= message %>"></span>
              <% end %>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <%= f.password_field :current_password, autocomplete: "off", class: (resource.errors[:current_password].count != 0 ? "validate invalid" : "") %>
              <%= f.label :current_password %>
              <span class="helper-text">
                We need your current password to confirm your changes
              </span>
              <% resource.errors[:current_password].each do |message| %>
                <span class="helper-text" data-error="Current_password <%= message %>"></span>
              <% end %>
            </div> 
          </div>
          <div class="form-actions center">
            <%= f.submit "Update", class: "btn waves-effect" %>
          </div>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to('Schedules', root_path) %>
      </div>
    </div>
  </div>
</div>




